# Ignore everything recursively
*

# But not the .jsx files
!*.jsx

# But not the .tsx files
!*.tsx

# But not the .js files
!*.js

# But not the .ts files
!*.ts

# Check subdirectories too
!*/

# Ignore the folder
/dist/
node_modules
.DS_Store
dist
dist-ssr
*.local
node_modules/*
